REACT_APP_WEB3AUTH_CLIENTID=""
REACT_APP_CHAIN_ID="0x61"
REACT_APP_RPC_TARGET="https://data-seed-prebsc-1-s1.binance.org:8545"
REACT_APP_BLOCK_EXPLORER="https://testnet.bscscan.com/"

REACT_APP_BASE_API_URL=""

REACT_APP_GOOGLE_MAPS_API_KEY=""

REACT_APP_PAYMENT_CONTRACT_ADDRESS="0x6a81e84c64ae23c6a4dc09714f2e94fa45126248"
REACT_APP_USDT_TOKEN_ADDRESS="0x6fc24c93a5665845f7455eb1a72fb1f47510af42"